.App{
  font-family: 'Inter',sans-serif;
  width: 90%;
  margin:2% auto;
  
}

.navbar{
  display: flex;
  align-items: center;
  background-color:#F55A5A ;
  justify-content: center;
  padding:20px 0;
  border-radius: 10px 10px 0 0 ;
  
}
.navbar-logo{
  margin-right:15px;
}
.navbar-title{
  color:#fff;
  font-weight: 500;
  font-size:20px;
}

.cards{
  background-color: #fff;
  border-radius:0 0 10px 10px;
  
}
.card{
  display: flex;
  padding:50px 60px;
}
.card-image{
  width:170px;
  height:100%;
  border-radius: 10px;
}
.card-content{
  padding:15px 20px;
  align-self: center;
}
.card-content .location-pin{
  width: 10px;
  height:15px;
  margin-right: 10px;
}
.card-content .card-location{
  font-size:17px;
  text-transform: uppercase;
  margin-right: 15px;
}
.card-content a{
  color:grey;
  font-size:17px;
  text-decoration: none;
  

}
.card-title{
  margin:15px 0;
  font-size: 34px;
}
.card-content .card-date{
  font-weight: 700;
  font-size:15px;
}
.card-content .card-description{
  margin-bottom:0;
}

@media(max-width:600px){

  .App{
    margin:0;
    width:100%;
  }
  .navbar, .cards{
    border-radius: 0;
  }
 
  .card{
    flex-direction:column;
    text-align: center;
    padding:30px 10px;
  }
  .card-image{
    width:70%;
    margin:0 auto;

  }
  .card-content a{
    font-size:14px;
  }
  .card-title{
    font-size:24px;
  }
  .card-content .card-date{
    font-size:14px;
  }
  .card-content .card-description{
    font-size:14px;
  }


}



